<?xml version="1.0" encoding="utf-8" ?>
<!-- Web.Config Configuration File -->
<configuration>
	<connectionStrings>
		<add name="ConnStr" connectionString="Server=SAP-FT2;database=OLKCommon;UId=sa;Pwd=tyealik1"/>
	</connectionStrings>
	<system.web>
<identity impersonate="true">
		username="olk"
		password="password"
		<customErrors mode="Off"/>
		<compilation>
			<assemblies>
				<add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.SqlServer.SqlEnum, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.SqlServer.ConnectionInfo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>

